@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,700;1,400&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

/* * HEADER */

h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
}

header {
    height: 10vh;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2017/05/31/11/21/pink-2360087_1280.jpg");
    background-size: cover;
    position: relative;
    z-index: 1;
}

header nav {
    position: absolute;
    right: 15px;
    top: 100%;
}

nav a {
    background-color: pink;
    color: black;
    border: 5px dotted #f135d5;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 20px;
}

header nav a:hover {
    background-color: white;
    color: #ab394e;
    font-size: large;
    font-weight: bold;
}

/* header nav a:last-child{
    margin-right: 50px;
} */

/* * BIENVENIDA SECTION */

section.bienvenida img[alt="barbie"] {
    width: 400px;
}

section.bienvenida {
    height: 30vh;
    width: 100%;
    padding: 2rem;
    position: relative;
}

section.bienvenida img,
section.bienvenida h2 {
    position: absolute;
    top: 0;
    width: 50%;
}

section.bienvenida h2 {
    right: 0;
    top: 30%;
}

section.bienvenida img {
    text-align: center;
    left: 0;
}

img[alt="logo barbie"] {
    width: 100px;
    margin-right: 10px;
    position: fixed;
    right: 0;
    bottom: 10px;
    position: sticky;
    top: 5rem;
}